<!-- logback-spring.xml -->
<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logger for the specific package -->
<!--    <logger name="com.swaraj.projectx" level="DEBUG">-->
<!--        <appender-ref ref="consoleAppender"/>-->
<!--    </logger>-->

    <root level="info">
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>
